<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="act.Properties.Settings.SqlConnection" connectionString="Data Source=(localdb)\ProjectModels;Initial Catalog=ACTDB;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>